configuration {
  drun-display-format: "{icon}  {name}";
  font: "Fira Sans SemiBold 13";
  show-icons: true;
  
}

listview {
	lines: 11;
	columns: 2;
}

mainbox {
  children: [listview, inputbar];
}

window {
  width: 40%;
  padding: 0;
  location:   south west;
  x-offset:   4px;        
  y-offset:   -4px;
}
