configuration {
  drun-display-format: "{icon}  {name}";
  font: "Fira Sans SemiBold 13";
  show-icons: true;
  me-select-entry: "MousePrimary";
  me-accept-entry: "!MousePrimary";
  close-on-unfocus: true;
}

listview {
  columns: 2;
  lines: 11;
  column-width: 25%;
}

mainbox {
  children: [listview, inputbar];
}

window {
  width: 50%;
  padding: 0;
  location:   south west;
  x-offset:   4px;        
  y-offset:   -4px;
}
