[Unit]
Description=Set power-saver mode on battery
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/powerprofilesctl set power-saver
ExecStart=/usr/bin/brightnessctl -q s 8%-
ExecStart=/usr/bin/hyprctl eval 'hl.monitor({ output = "eDP-1", mode = "1920x1080@60", position = "0x0", scale = 1 })'