# /etc/udev/rules.d/90-usb.rules

ACTION=="add", SUBSYSTEM=="usb", KERNEL=="*:1.0", RUN+="/usr/bin/runuser -l USERNAME -c 'systemctl --user start usb-insert.service'"
ACTION=="remove", SUBSYSTEM=="usb", KERNEL=="*:1.0", RUN+="/usr/bin/runuser -l USERNAME -c 'systemctl --user start usb-remove.service'"