# /etc/udev/rules.d/99-power.rules

SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/usr/bin/runuser -l USERNAME -c 'systemctl --user start acpoweron.service'"
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/usr/bin/runuser -l USERNAME -c 'systemctl --user start acpoweroff.service'"
